<a href="https://colab.research.google.com/github/adas754/python_revision-from-day1/blob/main/interview_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from abc import ABC,abstractmethod
class Animal(ABC):
  def move(self):
    pass
class Human(Animal):
  def move(self):
    print("run and walk")
class lion(Animal):
  def move(self):
    print("roar")

r=Human()
r.move()
k=lion()
k.move()

run and walk
roar

In [ ]:
from abc import ABC,abstractmethod
class Animal(ABC):
  def move(self):
    pass
class Human(Animal):
  def move(self):
    print('walking !')
class Lion(Animal):
  def move(self):
    print("Roar !")
r=Human()
r.move()
k=Lion()
k.move()

walking !
Roar !

In [ ]:
from abc import ABC,abstractmethod
class Animal(ABC):
  def move(self):
    pass
class human(Animal):
  def move(self):
    print("Walk --")
class lion(Animal):
  def move(self):
    print("roar !")
k=human()
k.move()
r=lion()
r.move()

Walk --
roar !

In [ ]:
from abc import ABC,abstractclassmethod
class Animal(ABC):
  def move(self):
    pass
class Human(Animal):
  def move(self):
    print("walking")
class lion(Animal):
  def move(self):
    print("roar")
r=Human()
r.move()
k=lion()
k.move()

walking
roar

In [ ]:
def welcome():
  print("Welcome to you tube channel")

In [ ]:
wel=welcome()
del welcome

Welcome to you tube channel

In [ ]:
wel

In [ ]:
def main_welcome(msg):
  def sub_welcome_class():
    print(msg)
    print("welcome to utube ")
    print("subscribe")
  return sub_welcome_class()

In [ ]:
main_welcome("t")

t
welcome to utube
subscribe

In [ ]:
def main_welcome(func):
  def sub_welcome_class():
    print("welcome to utube ")
    func('deals python')
    print("subscribe")
  return sub_welcome_class()

In [ ]:
main_welcome(print)

welcome to utube
deals python
subscribe

In [ ]:
def main_welcome(func):
  def sub_welcome_class():
    print("welcome to utube ")
    print(func([1,2,3,4,5,6]))
    print("subscribe")
  return sub_welcome_class()

In [ ]:
main_welcome(len)

welcome to utube
6
subscribe

In [ ]:
def main_welcome(func):
  def sub_welcome_class():
    print("welcome")
    func()
    print("subscribe")
  return sub_welcome_class()

In [ ]:
def channel_name():
  print("this is utube channel")

In [ ]:
main_welcome(channel_name)

welcome
this is utube channel
subscribe

In [ ]:
@main_welcome
def channel_name():
  print("this is utube ")

welcome
this is utube
subscribe

In [ ]:
def main_welcome(func):
  def sub_welcome_class():
    print('subscribe')
    print('welcome')
    func()
    print('hi')
  return sub_welcome_class()

In [ ]:
@main_welcome
def channel_name():
  print('hello')

subscribe
welcome
hello
hi

In [ ]:
def main_welcome_class(func):
  def sub_welcome_class():
    func()
    print("hi")
    print("hello")
  return sub_welcome_class()

In [ ]:
@main_welcome_class
def channel_name():
  print("welcome")

welcome
hi
hello

In [ ]:
class father():
  def skils(self):
    print('i enjoy eating')
class mother():
  def skils(self):
    print('reading')
class child(father,mother):
  def skils(self):
    father.skils(self)
    mother.skils(self)
    print('python')
c=child()
c.skils()

i enjoy eating
reading
python

In [ ]:
class Father():
  def skils(self):
    print('eating')
class Mother():
  def skils(self):
    print('reading')
class child(Father,Mother):
  def skils(self):
    Father.skils(self)
    Mother.skils(self)
    print('python')
c=child()
c.skils()

eating
reading
python

In [ ]:
class Father():
  def skils(self):
    print("eating")
class Mother():
  def skils(self):
    print("Social work ")
class child(Father,Mother):
  def skils(self):
    Father.skils(self)
    Mother.skils(self)
    print('Python ')
c=child()
c.skils()

eating
Social work
Python

In [ ]:
class Father():
  def skils(self):
    print('Program')
class Mother():
  def skils(self):
    print('program')
class child(Father,Mother):
  def skils(self):
    Father.skils(self)
    Mother.skils(self)
    print('coding')
c=child()
c.skils()

Program
program
coding

In [ ]:
class car():
  def __init__(self,windows,doors,enginetype):
    self.windows=windows
    self.doors=doors
    self.enginetype=enginetype

In [ ]:
audi=car(4,5,'disel')

In [ ]:
audi

In [ ]:
class car:
  def __init__(self,windows,doors,engine):
    self._windows=windows
    self._doors=doors
    self._engine=engine

In [ ]:
audi=car(5,7,'disel')

In [ ]:
class car():
  def __init__(self,windows,doors,enginetype):
    self.windows=windows
    self.doors=doors
    self.enginetype=enginetype

In [ ]:
audi=car(3,7,'disel')
audi.enginetype

'disel'

In [ ]:
audi.enginetype='petrol'
audi.enginetype

'petrol'

In [ ]:
class Truck(car):
  def __init__(self, windows, doors, enginetype,horsepower):
    super().__init__(windows, doors, enginetype)
    self.horsepower=horsepower

In [ ]:
t=Truck(6,2,'petrol',66)
t.horsepower

66

In [ ]:
class truck(car):
  def __init__(self, windows, doors, engine,horsepower):
    super().__init__(windows, doors, engine)
    self.horsepower=horsepower

In [ ]:
t=truck(5,6,'disel',677)

In [ ]:
t.horsepower

677

In [ ]:
t.doors=7

In [ ]:
t.doors

7

In [ ]:
t.horsepower=900

In [ ]:
t.horsepower

900

In [ ]:
class car:
  def __init__(self,windows,doors,engine):
    self.__windows=windows
    self.__doors=doors
    self.__engine=engine

In [ ]:
audi=car(4,5,'disel')

In [ ]:
audi._car__doors=7

In [ ]:
audi._car__doors

7

In [ ]:
class car:
  def __init__(self,windows,doors,enginetype):
    self.windows=windows
    self.doors=doors
    self.enginetype=enginetype

In [ ]:
class truck(car):
  def __init__(self, windows, doors, enginetype,horsepower):
    super().__init__(windows, doors, enginetype)
    self.horsepower=horsepower
t=truck(6,7,'petrol',907)
t.windows

6

In [ ]:
t.horsepower

907

In [ ]:
class social_media:
  def share_stories(self):
    print('share story ')
  def upload_pic(self):
    print('upload photo')
class facebook(social_media):
  def share_stories(self):
    print('share story')
class insta(social_media):
  def share_stories(self):
    print('share photo')
f=facebook()
i=insta()
f.share_stories()
i.share_stories()

share story
share photo

In [ ]:
class social_media:
  def upload_pic(self):
    print('upload pic !')
  def share_stories(self):
    print('share stories ')
class facebook(social_media):
  def upload_pic(self):
    print('share story ')
class instagram(social_media):
  def share_stories(self):
    print('upload stories ')
i=instagram()
f=facebook()
i.share_stories()
f.upload_pic()

upload stories
share story

In [ ]:
def multiply_matrices(a,b):
  row_a,col_a=len(a),len(a[0])
  row_b,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def multiply_matrices(a,b):
  row_a,row_b=len(a),len(a[0])
  col_a,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def multiply_matrices(a,b):
  row_a,row_b=len(a),len(a[0])
  col_a,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_b)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def multiply_matrices(a,b):
  row_a,row_b=len(a),len(a[0])
  col_a,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_b)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)]for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def add_matrix(matrix1,matrix2):
  rows=len(matrix1)
  cols=len(matrix1[0])
  result=[[0 for j in range(cols)] for i in range(rows)]
  for i in range(rows):
    for j in range(cols):
      result[i][j]=matrix1[i][j]+matrix2[i][j]
  return result
matrix1=[[1,2,3,4],[2,4,5,6],[9,0,10,11]]
matrix2=[[2,3,5,6],[2,3,9,10],[1,0,1,1]]
result=add_matrix(matrix1,matrix2)
print(result)

[[3, 5, 8, 10], [4, 7, 14, 16], [10, 0, 11, 12]]

In [ ]:
def add(matrix1,matrix2):
  rows=len(matrix1)
  cols=len(matrix1[0])
  result=[[0 for j in range(cols)] for i in range(rows)]
  for i in range(rows):
    for j in range(cols):
      result[i][j]=matrix1[i][j]+matrix2[i][j]
  return result
matrix1=[[1,2,3,4],[2,4,5,6],[9,0,10,11]]
matrix2=[[2,3,5,6],[2,3,9,10],[1,0,1,1]]
result=add_matrix(matrix1,matrix2)
print(result)

[[3, 5, 8, 10], [4, 7, 14, 16], [10, 0, 11, 12]]

In [ ]:
def add(matrix1,matrix2):
  rows=len(matrix1)
  cols=len(matrix1[0])
  result=[[0 for j in range(cols)] for i in range(rows)]
  for i in range(rows):
    for j in range(cols):
      result[i][j]=matrix1[i][j]+matrix2[i][j]
  return result
matrix1=[[1,2,3,4],[2,4,5,6],[9,0,10,11]]
matrix2=[[2,3,5,6],[2,3,9,10],[1,0,1,1]]
result=add(matrix1,matrix2)
print(result)

[[3, 5, 8, 10], [4, 7, 14, 16], [10, 0, 11, 12]]

In [ ]:
def multiply_matrices(a,b):
  row_a,row_b=len(a),len(a[0])
  col_a,col_b=len(b),len(b[0])
  result=[[0 for row in range (col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[0,9,9,9,7]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
number=[7,8,9,9,9]
mode(number)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[0,9,9,7,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[7,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in (numbers):
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items()if value==max_count]
  return mode
numbrers=[7,8,99,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbrers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items()if value==max_count]
  return mode
numbers=[7,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
      mid=len(numbers)//2
      if len(numbers)%2==0:
        return (numbers[mid]+numbers[mid-1])/2
      else:
        return numbers[mid]
numbers=[1,8,9,0,5]
median(numbers)

9

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return numbers[mid]+numbers[mid-1]/2
        else:
          return numbers[mid]

In [ ]:
numbers=[1,8,9,0,5]
median(numbers)

9

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return numbers[mid]+ numbers[mid-1]/2
        else:
          return numbers[mid]

numbers=[1,8,9,0,5]
median(numbers)

9

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return numbers[mid]+numbers[mid-1]/2
        else:
          return numbers[mid]

In [ ]:
numbers=[6,7,8,9,5]
median(numbers)

8

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return numbers[mid]+numbers[mid-1]/2
        else:
          return numbers[mid]

In [ ]:
numbers=[7,8,9,0,1]
median(numbers)

9

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return (numbers[mid]+numbers[mid-1])/2
        else:
          return numbers[mid]
  numbers=[9,9,0,7,5]
  median(numbers)

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],[j]=numbers[j],[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return (numbers[mid]+numbers[mid-1])/2
        else:
          return numbers[mid]
numbers=[9,6,8,4,5]
median(numbers)

8

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[7,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[0,9,9,7,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[6,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[6,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items()if value==max_count]
  return mode
numbers=[9,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[9,8,9,9,9]
mode(numbers)

[9]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items()if value==max_count]
  return mode
numbers=[8,9,7,7,7]
mode(numbers)

[7]

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[8,9,8,0,0,0]
mode(numbers)

[0]

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return  (numbers[mid]+numbers[mid-1])/2
        else:
          return numbers[mid]
numbers=[0,8,9,2,5]
median(numbers)

9

In [ ]:
def mode(numbers):
  count={}
  for number in numbers:
    if number in count:
      count[number]+=1
    else:
      count[number]=1
  max_count=max(count.values())
  mode=[key for key,value in count.items() if value==max_count]
  return mode
numbers=[8,9,7,6,5,8]
mode(numbers)

[8]

In [ ]:
def median(numbers):
  for i in range(len(numbers)):
    for j in range(1,len(numbers)):
      if numbers[i]>numbers[j]:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        mid=len(numbers)//2
        if len(numbers)%2==0:
          return (numbers[mid]+numbers[mid-1])/2
        else:
          return numbers[mid]
numbers=[9,7,6,5,3]
median(numbers)

6

In [ ]:
my_list=[7,8,9,23,41,9,11]
prime_list=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1))and num>1]

print(prime_list)

[7, 23, 41, 11]

In [ ]:
prime_list=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1))and num>1]

In [ ]:
prime_list=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1)) and num>1]
print(prime_list)

[7, 23, 41, 11]

In [ ]:
my_list=[9,8,7,5]
prime_list=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1))and num>1]
print(prime_list)

[7, 5]

In [ ]:
my_list=[6,8,9,3]
prime=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1))and num>1]
print(prime)

[3]

In [ ]:
numbers=[9,7,5,3]
prime_list=[num for num in numbers if all(num%i!=0 for i in range(2,int(num**0.5)+1))and num>1]
print(prime_list)

[7, 5, 3]

In [ ]:
numbers=[6,7,8,9]
prime=[num for num in numbers if all(num%i!=0 for i in range(2,int(num**0.5)+1)) and num>1]
print(prime)

[7]

In [ ]:
my_list=[6,8,9,3]
prime=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1 ))and num>1]
print(prime)

[3]

In [ ]:
my_list=[6,8,9,3]
prime=[num for num in my_list if all(num%i!=0 for i in range(2,int(num**0.5)+1)) and num>1]
print(prime)

[3]

In [ ]:
def max_abs_diff(a,b):
  if len(a)!=len(b):
    return "length should be same"
  max=0
  for ele_a,ele_b in zip(a,b):
    result=ele_a-ele_b
    if result>max:
      max=result
    return result

In [ ]:
max_abs_diff([10,7],[7,8])

3

In [ ]:
def max_abs_diff(a,b):
  if len(a)!=len(b):
    return "length should be same"
  max=0
  for ele_a,ele_b in zip(a,b):
    result=ele_a-ele_b
    if result>max:
      max=result
    return result

In [ ]:
max_abs_diff([10,7],[7,8])

3

In [ ]:
def max_abs_diff(a,b):
  max=0
  for ele_a,ele_b in zip(a,b):
    result=ele_a-ele_b
    if result>max:
      max=result
    return result

In [ ]:
max_abs_diff([4,7],[9,7])

-5

In [ ]:
def max_abs_diff(a,b):
  max=0
  for ele_a,ele_b in zip(a,b):
    result=ele_a-ele_b
    if result>max:
      max=result
  return result
max_abs_diff([4,7],[9,7])

0

In [ ]:
def mae(actual:list,pred:list)->float:
  try:
    if len(actual)!=len(pred):
      raise ValueError('length should be in same size')
    result=0
    for y,y_hat in zip(actual,pred):
      result+=abs(y-y_hat)
    n=len(actual)
    return result/n
  except Exception as error:
        print('Caught this error: ' + repr(error))
actual = [3, -0.5, 2, 7]
pred = [2.5, 0.0, 2, 8]
mae(actual,pred)

0.5

In [ ]:
def mae(actual:list,pred:list)->float:
  if len(actual)!=len(pred):
    raise ValueError('length should be in same size')
  result=0
  for y,y_hat in zip(actual,pred):
    result+=abs(y-y_hat)
  n=len(actual)
  return result/n
actual = [3, -0.5, 2, 7]
pred = [2.5, 0.0, 2, 8]
mae(actual,pred)

0.5

In [ ]:
def mae(act:list,pred:list)->float:
  try:
    if len(actual)!=len(pred):
      raise ValueError("length should be same")
    result=0
    for y,y_hat in zip(act,pred):
      result+=abs(y-y_hat)
    n=len(actual)
    return result/n
  except Exception as error:
    print('caught the error'+repr(error))

In [ ]:
act = [3, -0.5, 2, 7]
pred = [2.5, 0.0, 2, 8]
mae(act,pred)

0.5

In [ ]:
def mse(actual:list,pred:list)->float:
  try:
    if len(actual)!=len(pred):
      raise ValueError("length should be same size")
    result=0
    for y,y_hat in zip(actual,pred):
      diff=abs(y-y_hat)
      sq_diff=diff**2
      result=sq_diff+result
      n=len(actual)
    return result/n
  except Exception as error:
    print("caught the error"+repr(error))

In [ ]:
actual = [1,1,2,2,4]


pred = [0.6,1.29,1.99,2.69,3.4]


mse(actual,pred)

0.21606

In [ ]:
my_list=[6,8,9,3]
prime=[num for num in my_list if all( num%i!=0 for i in range(2,int(num**0.5)+1)) and num>1]
print(prime)

[3]

In [ ]:
def multiply_matrices(a,b):
  row_a,col_a=len(a),len(a[0])
  row_b,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def multiply_matrices(a,b):
  row_a,col_a=len(a),len(a[0])
  row_b,col_b=len(b),len(b[0])
  result=[[ 0 for row in range(col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result

a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def multiply_matrices(a,b):
  row_a,col_a=len(a),len(a[0])
  row_b,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)]for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def multiply_matrices(a,b):
  row_a,col_a=len(a),len(a[0])
  row_b,col_b=len(b),len(b[0])
  result=[[0 for row in range(col_b)] for col in range(row_a)]
  for i in range(row_a):
    for j in range(col_b):
      for k in range(row_b):
        result[i][j]+=a[i][k]*b[k][j]
  return result
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
multiply_matrices(a,b)

[[19, 22], [43, 50]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range(rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def transpose_matrix(matrix):
  rows=len(matrix)
  cols=len(matrix[0])
  transposed=[[0 for row in range (rows)] for col in range(cols)]
  for row in range(rows):
    for col in range(cols):
      transposed[row][col]=matrix[col][row]
  return transposed
original_matrix=[[1,2,3],[4,5,6],[7,8,9]]
transposed_matrix=transpose_matrix(original_matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def max_abs_diff(a,b):
  max=0
  for ele_a,ele_b in zip(a,b):
    result=ele_a-ele_b
    if result>max:
      max=result
  return result
max_abs_diff([4,7],[9,4])

3

In [ ]:
def count_word(string):
  words=string.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
str=input("Enter a string ")
result=count_word(str)
print(result)

Enter a string i love python and love panda
{'i': 1, 'love': 2, 'python': 1, 'and': 1, 'panda': 1}

In [ ]:
def count_word(string):
  words=string.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
str=input('enter string')
result=count_word(str)
print(result)

enter stringi love python and love sql
{'i': 1, 'love': 2, 'python': 1, 'and': 1, 'sql': 1}

In [ ]:
def find_second_largest(lst):
  sorted_list=sorted(lst,reverse=True)
  return sorted_list[1]
n=int(input("Enter no of element "))
my_list=[]
for i in range(n):
  element=int(input("Enter element "))
  my_list.append(element)
second_largest_ele=find_second_largest(my_list)
print(second_largest_ele)

Enter no of element 3
Enter element 788
Enter element 56
Enter element 585
585

In [ ]:
def count_word(string):
  words=string.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
string=input('Enter a string ')
result=count_word(string)
print(result)

Enter a string i love python and love ml
{'i': 1, 'love': 2, 'python': 1, 'and': 1, 'ml': 1}

In [ ]:
def count_word(string):
  words=string.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
string=input("Enter string ")
result=count_word(string)
print(result)

Enter string i like py and like pd
{'i': 1, 'like': 2, 'py': 1, 'and': 1, 'pd': 1}

In [ ]:
def count_word(string):
  words=string.split()
  word_count={}
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  return word_count
string=input("Enter string ")
result=count_word(string)
print(result)

Enter string i love python and love ml
{'i': 1, 'love': 2, 'python': 1, 'and': 1, 'ml': 1}

In [ ]:
def find_second_largest(numbers):
  if len(numbers)<2:
    return None
  largest=second_largest=numbers[0]
  for num in numbers:
    if num>largest:
      second_largest=largest
      largest=num
    elif num>second_largest:
      second_largest=num
  if second_largest==largest:
    return None
  else:
    return second_largest
my_list=[78,90,5,7]
result=find_second_largest(my_list)
if result is not None:
  print(result)

78

In [ ]:
def count_digits(number):
    digit_count = {}
    while number > 0:
        digit = number % 10
        if digit in digit_count:
            digit_count[digit] += 1
        else:
            digit_count[digit] = 1
        number //= 10
    return digit_count

number = int(input("Enter a number: "))
result = count_digits(number)
print(result)

Enter a number: 123215232157896523214569874523
{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def digit_count(number):
  count_digit={}
  while number>0:
    digit=number%10
    if digit in count_digit:
      count_digit[digit]+=1
    else:
      count_digit[digit]=1
    number//=10
  return count_digit
number=int(input("Enter any number "))
digit_count(number)

Enter any number 123215232157896523214569874523

{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def count_digits(number):
  digit_count={}
  while number>0:
    digit=number%10
    if digit in digit_count:
      digit_count[digit]+=1
    else:
      digit_count[digit]=1
    number//=10
  return digit_count
number=int(input("Enter no "))
count_digits(number)

Enter no 123215232157896523214569874523

{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def count_digits(number):
  digit_count={}
  while number>0:
    digit=number%10
    if digit in digit_count:
      digit_count[digit]+=1
    else:
      digit_count[digit]=1
    number//=10
  return digit_count
number=int(input())
count_digits(number)

123215232157896523214569874523

{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def count_digits(number):
  digit_count={}
  while number>0:
    digit=number%10
    if digit in digit_count:
      digit_count[digit]+=1
    else:
      digit_count[digit]=1
    number//=10
  return digit_count
number=int(input())
count_digits(number)

123215232157896523214569874523

{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def process_number(number):
    output = " "
    while number > 0:
        digit = number % 10
        if digit % 2 == 0:
            output = 'Foo' + output
        else:
            output = 'Bar' + output
        number //= 10
    return output

number = int(input("Enter a number: "))
result = process_number(number)
print(result)

Enter a number: 123456
BarFooBarFooBarFoo

In [ ]:
def process_number(number):
  output=" "
  while number>0:
    digit=number%10
    if digit%2==0:
      output='foo'+output
    else:
      output='bar'+output
    number//=10
  return output
number=int(input(" Enter number "))
result=process_number(number)
print(result)

 Enter number 123456
barfoobarfoobarfoo

In [ ]:
def process_number(number):
  output=" "
  while number>0:
    digit=number%10
    if digit%2==0:
      output="foo"+output
    else:
      output='bar'+output
    number//=10
  return output
number=int(input())
process_number(number)

123456

'barfoobarfoobarfoo '

In [ ]:
def process_number(number):
  output=" "
  while number>0:
    digit=number%10
    if digit%2==0:
      output='foo'+output
    else:
      output='bar'+output
    number//=10
  return output
number=int(input())
process_number(number)

123456

'barfoobarfoobarfoo '

In [ ]:
def count_digits(number):
  digit_count={}
  while number>0:
    digit=number%10
    if digit in digit_count:
      digit_count[digit]+=1
    else:
      digit_count[digit]=1
    number//=10
  return digit_count
number=int(input())
count_digits(number)

123215232157896523214569874523

{3: 4, 2: 7, 5: 5, 4: 2, 7: 2, 8: 2, 9: 2, 6: 2, 1: 4}

In [ ]:
def process_number(number):
  output=" "
  while number>0:
    digit=number%10
    if digit%2==0:
      output='FOO'+output
    else:
      output='BAR'+output
    number//=10
  return output
number=int(input())
process_number(number)

123456

'BARFOOBARFOOBARFOO '

In [ ]:
def selfDividingNumbers(left, right):
    def is_self_dividing(num):
        for digit in str(num):
            if digit == '0' or num % int(digit) != 0:
                return False
        return True

    self_dividing_nums = []
    for num in range(left, right + 1):
        if is_self_dividing(num):
            self_dividing_nums.append(num)

    return self_dividing_nums
left1, right1 = 1, 22
result1 = selfDividingNumbers(left1, right1)
print(result1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [ ]:
def selfDividingNumbers(left,right):
  def is_self_dividing(num):
    for digit in str(num):
      if digit=='0' or num%int(digit)!=0:
        return False
    return True
  self_dividing_nums=[]
  for num in range(left,right+1):
    if is_self_dividing(num):
      self_dividing_nums.append(num)
  return self_dividing_nums
left,right=1,22
result1=selfDividingNumbers(left1,right1)
print(result1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [ ]:
def selfDividingNumbers(left,right):
  def is_self_dividing(num):
    for digit in str(num):
      if digit=='0' or num%int(digit)!=0:
        return False
    return True
  self_dividing_nums=[]
  for num in range(left,right+1):
    if is_self_dividing(num):
      self_dividing_nums.append(num)
  return self_dividing_nums
left,right=1,22
result1=selfDividingNumbers(left1,right1)
print(result1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]