<a href="https://colab.research.google.com/github/adas754/python_revision-from-day1/blob/main/LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hi')

hi

In [44]:
#while True:
 # print('hi')   ### infinite loop

In [5]:
i=1
while i<11:
  print('hi')
  i+=1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [10]:
num=int(input("enTer The number: "))
i=1
while i<11:
  print(num,'*',i, '=',num)
  i+=1

enTer The number: 7
7 * 1 = 7
7 * 2 = 7
7 * 3 = 7
7 * 4 = 7
7 * 5 = 7
7 * 6 = 7
7 * 7 = 7
7 * 8 = 7
7 * 9 = 7
7 * 10 = 7

In [11]:
x=1
while x<4:
  print(x)
  x+=1
else:
  print('program executed ')

1
2
3
program executed

In [14]:
import random
jackpot=random.randint(1,10)
guess=int(input('enter your num'))
c=0
while guess!=jackpot:
  if guess<jackpot:
    print('wrong !, guess higher ')
  else:
    print('wrong!,guess lower')
  guess=int(input('Enter your guess '))
  c+=1
else:
  print('correct guess ')
  print('your attempt is ',c)

enter your num4
wrong !, guess higher
Enter your guess 6
wrong !, guess higher
Enter your guess 8
wrong !, guess higher
Enter your guess 9
wrong !, guess higher
Enter your guess 10
correct guess
your attempt is  4

In [15]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in 'python':
  print(i)

p
y
t
h
o
n

In [18]:
for i in range(1,11,3):
  print(i)

1
4
7
10

In [19]:
for i in range(1,11):
  print('python')

python
python
python
python
python
python
python
python
python
python

#Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [20]:
110/100

1.1

In [21]:
current_population=10000
for i in range(10,0,-1):
  print(i,current_population)
  current_population=current_population/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [23]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [32]:
row=int(input('enter the rows :'))
for i in range(1,row+1):
  for j in range(1,i+1):
    print('*',end='')
  print('\n')

enter the rows :5
*

**

***

****

*****

In [34]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [36]:
name=['a','b','c','python','u','v']
for i in name:
  if i=='python':
    print(i)
    break
  #print(i)

python

In [38]:
2//2

1

In [39]:
lower=int(input('enter number '))
upper=int(input('enter number '))
for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

enter number 6
enter number 19
7
11
13
17
19

In [40]:
for i in range(1,10):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [42]:
for i in range(1,10):
  pass