In [11]:
import pandas as pd
df=pd.read_csv('/content/loandata.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y

In [2]:
df.shape

(614, 13)

In [3]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.isnull().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [13]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
len(df)

614

In [8]:
round((df.isnull().sum()/len(df))*100,0)

Loan_ID              0.0
Gender               2.0
Married              0.0
Dependents           2.0
Education            0.0
Self_Employed        5.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           4.0
Loan_Amount_Term     2.0
Credit_History       8.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [14]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
df['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [16]:
df['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [17]:
df['Gender'].mode()[0]

'Male'

In [18]:
import numpy as np
np.array([1,2,3,4,5,5]).mean()

3.3333333333333335

In [19]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [20]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [21]:
df['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [22]:
df['Married'].fillna(df['Married'].mode()[0],inplace=True)

In [23]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [25]:
df['LoanAmount'].dtype

dtype('float64')

In [26]:
round(df['LoanAmount'].mean(),0)

146.0

In [27]:
df['LoanAmount']

0      135.0
1       98.0
2      350.0
3      113.0
4      168.0
       ...
609    120.0
610    600.0
611    700.0
612    490.0
613    360.0
Name: LoanAmount, Length: 614, dtype: float64

In [28]:
df['LoanAmount'].fillna(round(df['LoanAmount'].mean(),0),inplace=True)

In [29]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [30]:
df['Credit_History'].tail(20)

594    1.0
595    1.0
596    1.0
597    1.0
598    1.0
599    1.0
600    1.0
601    1.0
602    NaN
603    1.0
604    1.0
605    NaN
606    1.0
607    1.0
608    1.0
609    1.0
610    0.0
611    1.0
612    1.0
613    0.0
Name: Credit_History, dtype: float64

In [31]:
df['Dependents'].isnull().sum()

15

In [32]:
df['Dependents'].unique()

array(['0', '2', '3+', '1', nan], dtype=object)

In [33]:
df['Dependents'].dtype

dtype('O')

In [34]:
df['Dependents']

0       0
1       2
2      3+
3       0
4       0
       ..
609     0
610    3+
611    3+
612     0
613    3+
Name: Dependents, Length: 614, dtype: object

In [39]:
a=[]
for i in df['Dependents']:
  if i=='3+':
    i='3'
    a.append(i)
  else:
    a.append(i)

In [40]:
len(a)

614

In [41]:
df['Dependents']=a
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001722,Male,Yes,0,Graduate,No,150,1800.0,135.0,360.0,1.0,Rural,N
1,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
2,LP002949,Female,No,3,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
3,LP002603,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
4,LP001644,Male,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y

In [42]:
df['Dependents'].replace('3+','3',inplace=True)

In [43]:
df['Dependents']

0      0
1      2
2      3
3      0
4      0
      ..
609    0
610    3
611    3
612    0
613    3
Name: Dependents, Length: 614, dtype: object

In [46]:
df['Dependents'].astype('int')

0      0
1      2
2      3
3      0
4      0
      ..
609    0
610    3
611    3
612    0
613    3
Name: Dependents, Length: 614, dtype: int64

In [45]:
df['Dependents'].fillna(100,inplace=True)

In [47]:
df['LoanAmount']

0      135.0
1       98.0
2      350.0
3      113.0
4      168.0
       ...
609    120.0
610    600.0
611    700.0
612    490.0
613    360.0
Name: LoanAmount, Length: 614, dtype: float64

In [48]:
df['Dependents'].mode()

0    0
Name: Dependents, dtype: object

In [49]:
df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)

In [50]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [51]:
df['Loan_Amount_Term'].fillna(method='bfill')

0      360.0
1      360.0
2      180.0
3      480.0
4      360.0
       ...
609    360.0
610    180.0
611    300.0
612    180.0
613    360.0
Name: Loan_Amount_Term, Length: 614, dtype: float64

In [52]:
df['Loan_Amount_Term'].fillna(method='ffill')

0      360.0
1      360.0
2      180.0
3      480.0
4      360.0
       ...
609    360.0
610    180.0
611    300.0
612    180.0
613    360.0
Name: Loan_Amount_Term, Length: 614, dtype: float64

In [53]:
df['ApplicantIncome'].max()

81000