In [3]:
import pandas as pd
pd.date_range('9/5/2023',periods=5)

DatetimeIndex(['2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('9-5-2023',periods=5)

In [5]:
pd.date_range('2023/5/9',periods=5)

DatetimeIndex(['2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range('2023/1/1',periods=10)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('1/1/2023',periods=5,freq='2M')

DatetimeIndex(['2023-01-31', '2023-03-31', '2023-05-31', '2023-07-31',
               '2023-09-30'],
              dtype='datetime64[ns]', freq='2M')

In [9]:
pd.date_range('2023-5-9',periods=10,freq='H')

DatetimeIndex(['2023-05-09 00:00:00', '2023-05-09 01:00:00',
               '2023-05-09 02:00:00', '2023-05-09 03:00:00',
               '2023-05-09 04:00:00', '2023-05-09 05:00:00',
               '2023-05-09 06:00:00', '2023-05-09 07:00:00',
               '2023-05-09 08:00:00', '2023-05-09 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [10]:
pd.date_range('2023-05-09',periods=10,freq='2H')

DatetimeIndex(['2023-05-09 00:00:00', '2023-05-09 02:00:00',
               '2023-05-09 04:00:00', '2023-05-09 06:00:00',
               '2023-05-09 08:00:00', '2023-05-09 10:00:00',
               '2023-05-09 12:00:00', '2023-05-09 14:00:00',
               '2023-05-09 16:00:00', '2023-05-09 18:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [11]:
pd.date_range('2023-05-09',periods=10,freq='15min')

DatetimeIndex(['2023-05-09 00:00:00', '2023-05-09 00:15:00',
               '2023-05-09 00:30:00', '2023-05-09 00:45:00',
               '2023-05-09 01:00:00', '2023-05-09 01:15:00',
               '2023-05-09 01:30:00', '2023-05-09 01:45:00',
               '2023-05-09 02:00:00', '2023-05-09 02:15:00'],
              dtype='datetime64[ns]', freq='15T')

In [12]:
start=pd.datetime(2023,5,9)
print('start :',start)

end=pd.datetime(2023,5,25)
print('end :',end)

pd.date_range(start,end,periods=16)

start : 2023-05-09 00:00:00
end : 2023-05-25 00:00:00

<ipython-input-12-7723db41e8f0>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  start=pd.datetime(2023,5,9)
<ipython-input-12-7723db41e8f0>:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  end=pd.datetime(2023,5,25)

DatetimeIndex(['2023-05-09 00:00:00', '2023-05-10 01:36:00',
               '2023-05-11 03:12:00', '2023-05-12 04:48:00',
               '2023-05-13 06:24:00', '2023-05-14 08:00:00',
               '2023-05-15 09:36:00', '2023-05-16 11:12:00',
               '2023-05-17 12:48:00', '2023-05-18 14:24:00',
               '2023-05-19 16:00:00', '2023-05-20 17:36:00',
               '2023-05-21 19:12:00', '2023-05-22 20:48:00',
               '2023-05-23 22:24:00', '2023-05-25 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [13]:
df=pd.DataFrame({
    'Name':['S','K','A','D'],
    'DOB':['23-4-1997','24/7/1996','5-10-1996','12/12/1998']
    
})

In [14]:
df

  Name         DOB
0    S   23-4-1997
1    K   24/7/1996
2    A   5-10-1996
3    D  12/12/1998

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   DOB     4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [16]:
pd.to_datetime(df['DOB'])

<ipython-input-16-2ce031b9b969>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(df['DOB'])

0   1997-04-23
1   1996-07-24
2   1996-05-10
3   1998-12-12
Name: DOB, dtype: datetime64[ns]

In [17]:
df['DOB']=df['DOB'].astype('datetime64')

<ipython-input-17-734f4de120bd>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['DOB']=df['DOB'].astype('datetime64')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   DOB     4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 192.0+ bytes

In [19]:
df

  Name        DOB
0    S 1997-04-23
1    K 1996-07-24
2    A 1996-05-10
3    D 1998-12-12

In [22]:
#df.drop('DoB',axis=1,inplace=True)

In [21]:
df

  Name        DOB
0    S 1997-04-23
1    K 1996-07-24
2    A 1996-05-10
3    D 1998-12-12

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   DOB     4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 192.0+ bytes

In [24]:
pd.to_datetime('202359',format='%Y%m%d')

Timestamp('2023-05-09 00:00:00')

In [25]:
pd.to_datetime('112023',format='%d%m%Y')

Timestamp('2023-01-01 00:00:00')

In [26]:
today=pd.to_datetime('today')

In [27]:
today

Timestamp('2023-05-17 17:50:50.791046')

In [28]:
today.year

2023

In [29]:
today.month

5

In [30]:
today.day

17

In [31]:
today.day_name()

'Wednesday'

In [32]:
df

  Name        DOB
0    S 1997-04-23
1    K 1996-07-24
2    A 1996-05-10
3    D 1998-12-12

In [33]:
str(df['DOB'][0]).split()[0].split('-')

['1997', '04', '23']

In [34]:
for i in df['DOB']:
  print(str(i).split()[0].split('-'))

['1997', '04', '23']
['1996', '07', '24']
['1996', '05', '10']
['1998', '12', '12']

In [35]:
str(df['DOB'][0]).split()[0].split('-')

['1997', '04', '23']

In [36]:
df['Year']=df['DOB'].dt.year

In [37]:
df['Month']=df['DOB'].dt.month

In [38]:
df['Day']=df['DOB'].dt.day

In [39]:
df

  Name        DOB  Year  Month  Day
0    S 1997-04-23  1997      4   23
1    K 1996-07-24  1996      7   24
2    A 1996-05-10  1996      5   10
3    D 1998-12-12  1998     12   12

In [40]:
today.year

2023

In [41]:
today.year-df['DOB'].dt.year

0    26
1    27
2    27
3    25
Name: DOB, dtype: int64

In [42]:
df['Age']=today.year-df['DOB'].dt.year

In [43]:
df

  Name        DOB  Year  Month  Day  Age
0    S 1997-04-23  1997      4   23   26
1    K 1996-07-24  1996      7   24   27
2    A 1996-05-10  1996      5   10   27
3    D 1998-12-12  1998     12   12   25

In [44]:
pd.to_datetime('1062001',format='%d%m%Y').day_name()

'Sunday'

In [46]:
df['Daytime']=df['DOB'].dt.day_name()

In [47]:
df

  Name        DOB  Year  Month  Day  Age    Daytime
0    S 1997-04-23  1997      4   23   26  Wednesday
1    K 1996-07-24  1996      7   24   27  Wednesday
2    A 1996-05-10  1996      5   10   27     Friday
3    D 1998-12-12  1998     12   12   25   Saturday

In [48]:
df['DOB'][0]-df['DOB'][1]

Timedelta('273 days 00:00:00')

In [49]:
pd.date_range("2023-09-05 00:00:45",periods=10,freq='10s')

DatetimeIndex(['2023-09-05 00:00:45', '2023-09-05 00:00:55',
               '2023-09-05 00:01:05', '2023-09-05 00:01:15',
               '2023-09-05 00:01:25', '2023-09-05 00:01:35',
               '2023-09-05 00:01:45', '2023-09-05 00:01:55',
               '2023-09-05 00:02:05', '2023-09-05 00:02:15'],
              dtype='datetime64[ns]', freq='10S')

In [51]:
df['DOB'][0]>df['DOB'][1]

True

In [52]:
df['DOB']

0   1997-04-23
1   1996-07-24
2   1996-05-10
3   1998-12-12
Name: DOB, dtype: datetime64[ns]