<a href="https://colab.research.google.com/github/adas754/python_revision-from-day1/blob/main/python_chapterwise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LIST

# Reverse a list in Python

In [1]:
l1=[45,67,8]
l1[::-1]

[8, 67, 45]

In [5]:
l1.reverse()
l1

[8, 67, 45]

# Concatenate two lists index-wise

In [10]:
list1 = ["M", "na", "i", "m"]
list2 = ["y", "me", "s", "unai"]
l=[i+j for i,j in zip(list1,list2)]
l

['My', 'name', 'is', 'munai']

#Turn every item of a list into its square

In [11]:
l=[1,2,8]
m=[x*x for x in l]
m

[1, 4, 64]

#Concatenate two lists in the following order

In [13]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
l=[x+y for x in list1 for y in list2]
l

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [14]:
l=[i+j for i,j in zip(list1,list2)]
l

['Hello Dear', 'take Sir']

# Iterate both lists simultaneously

In [15]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

 # Remove empty strings from the list of strings

In [17]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res=list(filter(None,list1))
res

['Mike', 'Emma', 'Kelly', 'Brad']

# Add new item to list after a specified item

In [18]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(700)

In [19]:
list1

[10, 20, [300, 400, [5000, 6000, 700], 500], 30, 40]

# Extend nested list by adding the sublist

In [4]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#Replace listâ€™s item with new value if found

In [8]:
list1 = [5, 10, 15, 20, 25, 50, 20]
ind=list1.index(20)
list1[ind]=200
list1

[5, 10, 15, 200, 25, 50, 20]

# Remove all occurrences of a specific item from a list

In [9]:
list1 = [5, 20, 15, 20, 25, 50, 20]
m=[i for i in list1 if i!=20 ]
m

[5, 15, 25, 50]

# TUPLE

# Reverse the tuple

In [11]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

# Access value 20 from the tuple

In [12]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

# Create a tuple with single item 50

In [14]:
t=(50,)
type(t)

tuple

# Unpack the tuple into 4 variables

In [16]:
t=(10,20,30,40)
a,b,c,d=t
a

10

# Swap two tuples in Python

In [17]:
t1=(11,22)
t2=(99,88)
t1,t2=t2,t1
print(t2)
print(t1)

(11, 22)
(99, 88)

# Copy specific elements from one tuple to a new tuple

In [19]:
tuple1 = (11, 22, 33, 44, 55, 66)
t2=tuple1[3:5]
t2

(44, 55)

# Modify the tuple

In [20]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=220
tuple1

(11, [220, 33], 44, 55)

 # Sort a tuple of tuples by 2nd item

In [21]:
t1 = (('a', 23),('b', 37),('c', 11), ('d',29))
t1=tuple(sorted(list(t1),key=lambda x:x[1]))
t1

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

# Counts the number of occurrences of item 50 from a tuple

In [22]:
t1 = (50, 10, 60, 70, 50)
t1.count(50)

2

# Check if all items in the tuple are the same

In [30]:
t1 = (45, 45, 45, 45)
t=all(i == t1[0] for i in t1)

In [31]:
t

True

# SET

# Add a list of elements to a set

In [36]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
#{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

# Return a new set of identical items from two sets

In [37]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

# Get Only unique items from two sets

In [41]:
set1 = {10, 20, 30, 40, 50,50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

# Update the first set with items that donâ€™t exist in the second set

In [39]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)

In [40]:
set1

{10, 30}

 # Remove items from the set at once

In [42]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})

In [43]:
set1

{40, 50}

# Return a set of elements present in Set A or B, but not both

In [44]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

# Check if two sets have any elements in common. If yes, display the common elements

In [45]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection(set2)

{10}

#Update set1 by adding items from set2, except common items

In [47]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

 # Remove items from set1 that are not common to both set1 and set2

In [48]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)

In [49]:
set1

{30, 40, 50}

# Dictionary

 # Convert two lists into a dictionary

In [50]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

 # Merge two Python dictionaries into one

In [51]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d3=dict1.copy()
d3.update(dict2)

In [52]:
d3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Print the value of key â€˜historyâ€™ from the below dict

In [53]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
(sampleDict['class']['student']['marks']['history'])

80

#Initialize dictionary with default values

In [54]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res=dict.fromkeys(employees,defaults)
res

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [56]:
print(res["Kelly"])

{'designation': 'Developer', 'salary': 8000}

# Create a dictionary by extracting the keys from a given dictionary

In [59]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
newdict={k:sample_dict[k]for k in keys}
newdict

{'name': 'Kelly', 'salary': 8000}

# Delete a list of keys from a dictionary

In [61]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]
for k in keys:
  sample_dict.pop(k)
sample_dict

{'age': 25, 'city': 'New york'}

# Check if a value exists in a dictionary

In [63]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
  print('200 present in sample_dict')

200 present in sample_dict

# Rename key of a dictionary

In [64]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

 # Get the key of a minimum value from the following dictionary

In [65]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict,key=sample_dict.get))

Math

# Change value of a key in a nested dictionary

In [66]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}